@page "/packages"
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Packages</h4>
                <hr />
            </div><!--end page-title-box-->
            <div class="row">

                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="pricingTable1 text-center">
                                <h6 class="title1 py-3 mt-2 mb-0">Shared Monthly</h6>
                                <ul class="list-unstyled pricing-content-2">
                                    <li>Startup</li>
                                    <li>Obfuscator</li>
                                    <li>FUD</li>
                                    <li>Shared stub</li>
                                    <li>And other features</li>
                                </ul>
                                <hr class="hr-dashed my-4">
                                <div class="text-center">
                                    <h3 class="amount">$40.00<small class="font-12 text-muted">/mo</small></h3>
                                </div>
                                <div class="d-grid">
                                    <a href="https://t.me/lethalitycrypter" class="btn btn-primary btn-skew btn-outline-dashed py-2"><span>Go Telegram</span></a>
                                </div>

                            </div><!--end pricingTable-->
                        </div><!--end card-body-->
                    </div> <!--end card-->
                </div><!--end col-->

                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="pricingTable1 text-center">
                                <span class="badge bg-warning ml-auto a-animate-blink">POPULAR</span>

                                <h6 class="title1 py-3 mt-2 mb-0">Private Monthly</h6>
                                <ul class="list-unstyled pricing-content-2">
                                    <li>Startup</li>
                                    <li>Obfuscator</li>
                                    <li>7/24 FUD</li>
                                    <li>Shared stub</li>
                                    <li>And other features</li>
                                </ul>
                                <hr class="hr-dashed my-4">
                                <div class="text-center">
                                    <h3 class="amount">$80.00<small class="font-12 text-muted">/mo</small></h3>
                                </div>
                                <div class="d-grid">
                                    <a href="https://t.me/lethalitycrypter" class="btn btn-primary btn-skew btn-outline-dashed py-2"><span>Go Telegram</span></a>
                                </div>
                            </div><!--end pricingTable1-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->


                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="pricingTable1 text-center">
                                <h6 class="title1 py-3 mt-2 mb-0">Shared 3 Monthly</h6>
                                <ul class="list-unstyled pricing-content-2">
                                    <li>Startup</li>
                                    <li>Obfuscator</li>
                                    <li>FUD</li>
                                    <li>Shared stub</li>
                                    <li>And other features</li>
                                </ul>
                                <hr class="hr-dashed my-4">
                                <div class="text-center">
                                    <h3 class="amount">$80.00<small class="font-12 text-muted">/3 mo</small></h3>
                                </div>
                                <div class="d-grid">
                                    <a href="https://t.me/lethalitycrypter" class="btn btn-primary btn-skew btn-outline-dashed py-2"><span>Go Telegram</span></a>
                                </div>

                            </div><!--end pricingTable-->
                        </div><!--end card-body-->
                    </div> <!--end card-->
                </div><!--end col-->

                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="pricingTable1 text-center">

                                <h6 class="title1 py-3 mt-2 mb-0">Private 3 Monthly</h6>
                                <ul class="list-unstyled pricing-content-2">
                                    <li>Startup</li>
                                    <li>Obfuscator</li>
                                    <li>7/24 FUD</li>
                                    <li>Shared stub</li>
                                    <li>And other features</li>
                                </ul>
                                <hr class="hr-dashed my-4">
                                <div class="text-center">
                                    <h3 class="amount">$220.00<small class="font-12 text-muted">/3 mo</small></h3>
                                </div>
                                <div class="d-grid">
                                    <a href="https://t.me/lethalitycrypter" class="btn btn-primary btn-skew btn-outline-dashed py-2"><span>Go Telegram</span></a>
                                </div>
                            </div><!--end pricingTable1-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->


                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="pricingTable1 text-center">
                                <h6 class="title1 py-3 mt-2 mb-0">Shared Lifetime</h6>
                                <ul class="list-unstyled pricing-content-2">
                                    <li>Startup</li>
                                    <li>Obfuscator</li>
                                    <li>FUD</li>
                                    <li>Shared stub</li>
                                    <li>And other features</li>
                                </ul>
                                <hr class="hr-dashed my-4">
                                <div class="text-center">
                                    <h3 class="amount">$500.00<small class="font-12 text-muted">/lifetime</small></h3>
                                </div>
                                <div class="d-grid">
                                    <a href="https://t.me/lethalitycrypter" class="btn btn-primary btn-skew btn-outline-dashed py-2"><span>Go Telegram</span></a>
                                </div>

                            </div><!--end pricingTable-->
                        </div><!--end card-body-->
                    </div> <!--end card-->
                </div><!--end col-->

                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="pricingTable1 text-center">
                                <h6 class="title1 py-3 mt-2 mb-0">Private Lifetime</h6>
                                <ul class="list-unstyled pricing-content-2">
                                    <li>Startup</li>
                                    <li>Obfuscator</li>
                                    <li>7/24 FUD</li>
                                    <li>Shared stub</li>
                                    <li>And other features</li>
                                </ul>
                                <hr class="hr-dashed my-4">
                                <div class="text-center">
                                    <h3 class="amount">$1000.00<small class="font-12 text-muted">/lifetime</small></h3>
                                </div>
                                <div class="d-grid">
                                    <a href="https://t.me/lethalitycrypter" class="btn btn-primary btn-skew btn-outline-dashed py-2"><span>Go Telegram</span></a>
                                </div>
                            </div><!--end pricingTable1-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->

            </div><!--end row-->

        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->


</div><!-- container -->
